.Event1, .Event2, .Event3 {
    background-color: cyan;
    border: 2px solid darkblue;
    height: 29px;
    position: absolute;
    width: 100px;
    left: 10px;
    top: 29px;
}

.Event2 {
    top: 63px;
}

.Event3 {
    top: 97px;
}