.Event1, .Event2, .Event3 {
    background-color: cyan;
    border: 1px solid darkblue;
    height: 29px;
    position: absolute;
    width: 100px;
    left: 10px;
    top: 29px;
    text-decoration: none;
    color: darkblue;
    display: flex;
    align-items: center;
    min-width: 0;
    z-index: 1;
}

.Event2 {
    top: 63px;
}

.Event3 {
    top: 97px;
}

.EventText {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}