.Event1, .Event2, .Event3 {
    background-color: cyan;
    height: 25px;
    position: absolute;
    width: 100px;
    left: 10px;
    top: 25px;
}

.Event2 {
    top: 55px;
}

.Event3 {
    top: 85px;
}